@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", Helvetica, sans-serif;
    height: 100%;
}

html {
    background-image: url('/imagens/azulcomestudante.png');
    background-size: cover;
    background-position: 0px 190px;
    background-repeat: no-repeat;
}

h1#h1login {
    color: #263973;
    margin-top: 25px;
    font-size: 28px;
    text-align: center;
}

p#fraselogin {
    color: #263973;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}

a#bturma {
    color: #010E26;
    border: 3px solid #445EF2;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 203px;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: .3s ease;
}

a#baluno {
    color: #ffffff;
    border: 3px solid #ffffff;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 203px;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 55px;
    transition: .3s ease;
}

img {
    margin: auto;
    display: block;
    margin-top: 50px;
}